<div class="main-content">
    <div class="container">
        <div id="title-phrase">
            <h2 class="h4">{{phrase}}</h2>
            <h3 class="h4 text-muted text-end mb-3"><i>{{character}}</i><span><strong>&nbsp&nbsp{{show}}</strong></span>
            </h3>
        </div>
        <div id="btn-div">
            {{#each words}}
            <button class="word btn-frase">{{this}}</button>
            {{/each}}
        </div>

        <div id="phrase">
            <div>
                <div class="result">
                </div>
            </div>
        </div>

        <div class="buttons-options mt-2">
            <button class="button-small text-light mt-5" id="check">&nbspCHECK&nbsp</button>
            <a class="btn-dark text-decoration-none text-light text-end" href="/series">&nbspSALIR&nbsp</a>
        </div>
    </div>
</div>




<script src="/js/script.js"></script>