<div class="main-content">
    <div class="container">
        <div id="title-phrase">
            <h2>{{phrase}}</h2>
        </div>
        <div id="btn-div">
            {{#each words}}
            <button class="word btn-frase">{{this}}</button>
            {{/each}}
        </div>

        <div id="phrase">
            <div>
                <h2>Tu frase:</h2>
                <div class="result">

                </div>
            </div>
        </div>

        <div class="buttons-options mt-4">
            <button class="button-small text-light mt-5" id="check">&nbspCHECK&nbsp</button>
            <a class="btn-dark text-decoration-none text-light text-end" href="/series">&nbspSALIR&nbsp</a>
        </div>
    </div>
</div>




<script src="/js/script.js"></script>