<div class="main-content">
    <div class="container">
        <h1>Watching {{serie.title}}</h1>
        <img src="{{serie.image}}" alt="serie">

        {{#if isAdmin}}
        <a href="/series/{{serie._id}}/edit">Edit serie</a>
        {{/if}}
    </div>
</div>