<div class="main-content">
    <div class="container">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h1>Crear Serie</h1>
                    <hr>
                    <form action="/series/create" method="POST" enctype="multipart/form-data">
                        <div class="mb-3 row">
                            <div class="col">
                                <label class="form-label">Título</label>

                                <select name="title">
                                    {{#each series}}
                                    <option value="{{name}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="col my-4">
                                <label for="image">Image</label>
                                <input type="file" name="image" class="form-control-file" />
                                <input type="text" name="existingImage" hidden value="{{image}}">
                            </div>
                            <button class="btn btn-dark block" type="submit">Crear</button>
                        </div>

                        {{#if errorMessage}}
                        <div id="errorMessage">
                            <p>{{errorMessage}}</p>
                        </div>
                        {{/if}}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>