<div class="image-bg">
    <div class="main-content">
        <div class="container">
            <section class="home">
                <div>
<<<<<<< HEAD
                    <h1>Phrasier</h1>
                    <h2>Traduce las frases de tus series favoritas al idioma que quieras, desde donde quieras!!!!</h2>
=======
                    <h1>Proyecto 2</h1>
                    <h2 class="text-center">La aplicación para traducir las frases de tus series favoritas al idioma que
                        quieras.</h2>
>>>>>>> 2a1817480005a3b2d848e58daf2dac82d433ed72
                    <a class="button text-decoration-none text-light" href="/login">Empezar</a>
                </div>
            </section>
        </div>
    </div>
</div>