<div class="main-content">
    <div class="container">
        <section class="home">
            <h1>Proyecto 2</h1>
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nam, nemo distinctio ad, minus delectus
                laboriosam mollitia nisi inventore reiciendis illum</h2>
            <a class="button text-decoration-none text-light" href="/login">Empezar</a>
        </section>
    </div>
</div>