<div class="image-bg">
    <div class="main-content">
        <div class="container">
            <section class="home">
                <div>
                    <h1>Proyecto 2</h1>
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nam, nemo distinctio ad, minus
                        delectus
                        laboriosam mollitia nisi inventore reiciendis illum</h2>
                    <a class="button text-decoration-none text-light" href="/login">Empezar</a>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="text-center p-3" style="background-color: rgba(20, 196, 93, 0.2)">
    Developed by Jaime Martín, Marta Morán and Juan Mario Fernández

</div>