<div class="main-content">
    <h2 class="title-user">Usuarios</h2>
    <div class="container">

        <div class="row">
            {{#each users}}
            <div class="col-4 text-dark">
                <div class="card my-4 bg-light">
                    <div class="p-4">
                        <img src="{{avatar}}" class="profile-img" alt="avatar">
                        <h4 class="mb-4">{{username}}</h4>
                        <a class="button-small text-decoration-none text-light stretched-link" href="/users/{{id}}">Ver
                            más</a>

                    </div>
                </div>
            </div>
            {{/each}}
        </div>


    </div>
</div>